---
layout: base.njk
---
<article class="blog-post">
  <div class="blog-post-meta">
    <time datetime="{{ date }}">{{ date | ruDate }}</time>
    {% if category %}<span class="blog-category">{{ category }}</span>{% endif %}
  </div>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
